@import url("variables.css");

/* Global Styles */

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: var(--warmwhite);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    font-size: 2rem;
    color: var(--deepblue);
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}

a, p, li{
    font-family: var(--body-font);
    font-size: 1.3rem; 
    text-align: left;
    color: var(--deepblue);
    line-height: 1.5;
    font-weight: 600;
}

main{
    min-height: calc(100vh - 100px);
    max-width: 950px;
    margin: auto;
}

section{
    margin: 50px auto;
}

section:nth-of-type(1){
    margin-top: 30px;
}

article > p{
    line-height: 1.5;
}

/* -------------------------- */

/* Styling the header */

header{
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: var(--primary-color);
    border-bottom: 2px solid black;
    max-width: 100%;
}

header > a{
    width: 100px; 
    display: flex;
    align-items: center;
}

.header_logo{
    height: 50px;
    background-color: var(--deepblue);
}

nav{
    transition: top 0.3s;
    z-index: 1;
}

.nav_ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px auto;
    width: 100%;
    border-radius: 0px 0px 0px 15px;
    padding: 0px;
    align-items: flex-end;
    border: 2px solid black;
    border-top: none;
    background-color: var(--raincoat);
}

.nav_li{
    list-style: none;
    margin: 10px 15px;
}

.nav_li > a{
    font-family: var(--header-font);
    font-size: 1.5rem;
    text-decoration: underline;
    padding: 0px 10px;
    border: 2px solid #00000000;
    border-radius: 15px;
    transition: ease-in-out 0.3s;
    font-weight: 300;
}

.nav_li > a:hover{
    color: wheat;
    transition: ease-in-out 0.3s;
    border: 2px solid black;
    background-color: var(--deepblue);
}

.logo_banner{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 120fr;
}

.site_name{
    font-family: var(--header-font);
    font-size: 1.5rem;
    font-weight: 500;
    margin:auto;
    padding: 0px 10px;
}

nav{
    display: none;
    width: 100%;
}

#hamburger_menu{
    display: none;
}

#hamburger_menu:checked ~ nav{
    display: block;
    position: absolute;
    width: 250px;
    left: calc(100% - 250px);
    top: 50px;
    
}

#menu_icon{
    font-size: 2rem;
    display: block;
    position: absolute;
    z-index: 1;
    top: 1.2%;
    right: 2.5%;
    padding: 0rem 1rem;
}

#menu_icon:hover{
    cursor: pointer;
    position: absolute;
}
/* -------------------------- */

/* Here is the hero story */

.primary_section{
    margin: 50px 18px;
}

.hero_image{
    max-width: 100%;
    width: 1000px;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 35px;
    display: block;
}

.hero_story{
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.story_txt{
    margin: 10px 15px;
}

.cta_btn{
    border: 2px solid black;
    display: inline-block;
    padding: 10px 15px;
    margin: 25px;
    border-radius: 30px;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: var(--header-font);
    font-weight: 300;
    color: var(--raincoat);
    background-color: var(--deepblue);
    transition: ease-in-out 0.3s;
}

.cta_btn:hover{
    transition: ease-in-out 0.3s;
    color: wheat;
}

/* ------------------ */

/* This is the secondary story */

.secondary_section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.scnd_story{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
}

.scnd_img{
    max-width: 100%;
    height: 250px;
    border: 2px solid black;
    border-radius: 35px;
}

#bg_color{
    background-color: var(--deepblue)
}

/* ------------------ */

/* Event calendar */

.event_calendar{
    border: 2px solid var(--deepblue);
    border-radius: 35px;
    margin: 18px auto;
    max-width: 700px;
}

.calendar_header{
    background-color: var(--raincoat);
    border-bottom: 2px solid var(--deepblue);
    border-radius: 35px 35px 0px 0px;
    margin: 0px;
    padding: 5px;
}

.calendar_header > h3{
    margin: 5px;
    font-size: 1.3rem;
}

.month{
    border-bottom: 2px solid var(--deepblue);
}

.month > p{
    font-family: var(--header-font);
    margin: 5px 10px;
    text-align: center;
}

.weeks_days >* {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}

.weekdays{
    list-style: none;
    border-bottom: 1px solid var(--deepblue);
    padding: 0px;
}

.days{
    list-style: none;
    padding: 0px;
}

.days > li{
    list-style-type: none;
    margin: 5px;
    font-size: 1rem;
    padding: 5px;
    text-align: center;
}

.days > li:nth-of-type(7n+5){
    background-color: var(--deepblue);
    border-radius: 10px;
    width: 20px;
}


.days > li:nth-of-type(7n+5):hover{
    cursor: pointer;
}

.event{
    text-decoration: none;
    color: var(--raincoat);
    font-size: 1rem;
}

.days > li:nth-of-type(14n+6){
    background-color: var(--raincoat);
    border-radius: 10px;
    width: 20px;
}


.days > li:nth-of-type(7n+6):hover{
    cursor: pointer;
}

.otherevent{
    text-decoration: none;
    font-size: 1rem;
}

/* ------------------ */


/* Footer */

footer{
    background-color: var(--offwhite);
    height: 50px;
    border-top: 2px solid black;
}

.footer_contentbox{
    max-width: 900px;
    margin: 0px 10px;
    padding: 0px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
}

.some{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
}

a > i{
    text-decoration: none;
    color: black;
    font-size: 4rem;
    margin: 0px 15px;
    display: inline;
}

.about{
    align-self: flex-end;
}

.cs_header{
    margin: 5px 0px;
    font-size: 1.2rem;
    text-align: left;
}

.cs_ul{
    padding-left: 0px;
    margin: 0px 0px 10px 0px;
}

.cs_li{
    list-style: none;
    margin: 5px 0px;
    font-size: 0.9rem;
}

.cs_li > a{
    font-size: 0.9rem;
    font-family: var(--body-font);
}
/* ------------------ */

/* Media Queries */
@media (min-width: 1060px) {

    #menu_icon{
        display: none;
    }

    nav{
        display: block;
        position: absolute;
        top: 50px;
    }

    .nav_ul{
        flex-direction: row;
        border: 2px solid black;
        border-radius: 0px;
        width: 100%;
        border-left: none;
        border-right: none;
    }

    section:nth-of-type(1){
        margin-top: 100px;
    }

    .footer_contentbox{
        margin: 0px auto;
    }
}

@media (max-width:460px) {
    .site_name{
        display: none;
    }

    .event_calendar{
        margin: 18px;
    }
}