@import url("variables.css");

/* Global Styles */



/* Styling the header */

header{
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: var(--primary-color);
    border-bottom: 2px solid black;
}

header > a{
    width: 100px; 
    display: flex;
    align-items: center;
}

.header_logo{
    height: 100%;
    background-color: var(--deepblue);
    width: 75px;
}

.nav_ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px auto;
    background-color: var(--offwhite);
    width: 100%;
    border-radius: 0px 0px 0px 15px;
    padding: 0px;
    align-items: flex-end;
    border: 2px solid black;
    border-top: none;
}

.nav_li{
    list-style: none;
    margin: 10px 15px;
}

.nav_li > a{
    font-family: var(--header-font);
    font-size: 1.5rem;
    text-decoration: underline;
    padding: 0px 10px;
    border: 2px solid #00000000;
    border-radius: 15px;
    color: black;
    transition: ease-in-out 0.3s;
}

.nav_li > a:hover{
    color: wheat;
    transition: ease-in-out 0.3s;
    border: 2px solid black;
    background-color: var(--deepblue);
}

.logo_banner{
    display: flex;    
}

.site_name{
    font-family: var(--header-font);
    font-size: 1.5rem;
    font-weight: 500;
    margin:auto;
    padding: 0px 10px;
}

/* This is the functionality on the hamburger menu */ 


nav{
    display: none;
    width: 100%;
}

#hamburger_menu{
    display: none;
}

#hamburger_menu:checked ~ nav{
    display: block;
    position: absolute;
    width: 250px;
    left: calc(100% - 250px);
    top: 50px;
    
}

#menu_icon{
    font-size: 2rem;
    display: block;
    position: absolute;
    z-index: 1;
    top: 1.2%;
    right: 2.5%;
    padding: 0rem 1rem;
}

#menu_icon:hover{
    cursor: pointer;
    position: absolute;
}
