@import url("variables.css");

/* Global Styles */

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: var(--warmwhite);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    font-size: 2rem;
    color: var(--deepblue);
}

a, p, li{
    font-family: var(--body-font);
    font-size: 1.2rem; 
    text-align: left;
    color: var(--deepblue);
}

main{
    min-height: calc(100vh - 100px);
}

section{
    margin: 50px auto;
}

article > p{
    line-height: 1.5;
}

section:nth-of-type(1){
    margin-top: 0px;
}
/* -------------------------- */

/* Styling the header */

header{
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: var(--primary-color);
    border-bottom: 2px solid black;
}

header > a{
    width: 100px; 
    display: flex;
    align-items: center;
}

.header_logo{
    height: 100%;
    background-color: var(--deepblue);
}

nav{
    transition: top 0.3s;
}

.nav_ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px auto;
    width: 100%;
    border-radius: 0px 0px 0px 15px;
    padding: 0px;
    align-items: flex-end;
    border: 2px solid black;
    border-top: none;
    background-color: var(--raincoat);
}

.nav_li{
    list-style: none;
    margin: 10px 15px;
}

.nav_li > a{
    font-family: var(--header-font);
    font-size: 1.5rem;
    text-decoration: underline;
    padding: 0px 10px;
    border: 2px solid #00000000;
    border-radius: 15px;
    transition: ease-in-out 0.3s;
}

.nav_li > a:hover{
    color: wheat;
    transition: ease-in-out 0.3s;
    border: 2px solid black;
    background-color: var(--deepblue);
}

.logo_banner{
    display: flex;    
}

.site_name{
    font-family: var(--header-font);
    font-size: 1.5rem;
    font-weight: 500;
    margin:auto;
    padding: 0px 10px;
}

/* This is the functionality on the hamburger menu */ 


nav{
    display: none;
    width: 100%;
}

#hamburger_menu{
    display: none;
}

#hamburger_menu:checked ~ nav{
    display: block;
    position: absolute;
    width: 250px;
    left: calc(100% - 250px);
    top: 50px;
    
}

#menu_icon{
    font-size: 2rem;
    display: block;
    position: absolute;
    z-index: 1;
    top: 1.2%;
    right: 2.5%;
    padding: 0rem 1rem;
}

#menu_icon:hover{
    cursor: pointer;
    position: absolute;
}
/* -------------------------- */



/* Media Queries */
@media (min-width: 910px) {

    .logo_banner{
        flex: 3;
    }

    #menu_icon{
        display: none;
    }

    nav{
        display: block;
        position: absolute;
        top: 50px;
    }

    .nav_ul{
        flex-direction: row;
        border: 2px solid black;
        border-radius: 0px;
        width: 100%;
        border-left: none;
        border-right: none;
    }

    .hero_image{
        height: 800px;
        object-position: 50% 30%;
    }

    .footer_contentbox{
        margin: 0px auto;
    }
}

@media (max-width:360px) {
    .site_name{
        display: none;
    }
}